body{
    overflow-x: hidden;
}
 .barraTop{
    margin-bottom: 5em;
}
h2,h3{
    margin-left: 1em;
    margin-top: 1em;
}
label.descripcion{
    margin-left: 3em;
    margin-right: 3em;
}
p{
    margin-left: 2em;
    margin-right: 2em;
}
.like{
    margin-top: 2em;
    margin-left: 3em !important;
}
.form-group{
    margin-left: 3em;
    margin-right: 3em;
}
.vermas{
    margin-top: 1em;
    margin-right: 1em;
}
h5{
    display: inline;
}
.coment{
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.textocoment{
    margin-top: 1em;
}
.fechapub{
    text-align: right;
}
.titulo{
    display: inline;
}
.card{
    margin-left: 1em;
    margin-right: 1em;
}
.row{
    margin-bottom: 1em;
}
.respuesta{
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
